.body{
    background-color: #ffffff;
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
}
.logo-lobe{
position: absolute;
left: 222px;
top: 30px;
}

h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}
a{
    text-decoration: none; 
    color: #666;
}

a:hover {
    color: #000;
    text-decoration: none; 
}

.column-1{
    position: absolute;
    left: 250px;
     top: 70px;
     color: #767676;
}
.column-2{
    position: absolute;
    left: 500px;
     top: 17px;
     color: #767676;
}
.column-3{
    position: absolute;
    left: 700px;
     top: 17px;
     color: #767676;
}
.column-4{
    position: absolute;
    left: 910px;
     top: 17px;
     color: #767676;
}
.social-icons {
    display: flex;
    align-items: center;
    position: absolute;
    left: 150px;
     top: 35px;
   


}

.social-icons a {
    color: #32c69a;
    font-size: 35px;
    margin: 0 10px;
}

.social-icons a:hover {
    color: #32c69ab4;
}


}
.pic{
    position: absolute;
    right: 233px;
    display: flex;
    
}
.h1{
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    top: 590px;
    left: 535px;
    font-size: 50px;
   
} 
.Download
{

}

.img-logo{
    position: absolute;
    top: 25px;
    
    
}


.help{
    position: absolute;
    color: #000000;
    top: 60px;
    right: 550px;
    font-weight: normal;
    font-size: 18px;
    border: none;
    background-color: #ffffff;

   }


.blog{
    position: absolute;
    color: #000000;
    top: 60px;
    right: 650px;
    font-weight: normal;
    font-size: 18px;
    border: none;
    background-color: #ffffff;
}

.tour{
    position: absolute;
    color: #000000;
    top: 60px;
    right: 750px;
    font-weight: normal;
    font-size: 18px;
    border: none;
    background-color: #ffffff;
}

.examples{
    position: absolute;
    color: #000000;
    top: 60px;
    right: 850px;
    font-weight: normal;
    font-size: 18px;
    border: none;
    background-color: #ffffff;
}
.overview{
    position: absolute;
    color: #000000;
    top: 60px;
    right: 1000px;
    font-weight: normal;
    font-size: 18px;
    border: none;
    background-color: #ffffff;
}

.download{

    position: absolute;
    border-radius: 25px;
    background-color:#04ddb2 ;
    color: #ffffff;
    width: 130px;
    height: 48px;

    top: 770px;

    top: 45px;
    right: 220px;

    font-weight: bold;
    font-size: 18px;
    border: none;
    transition: .2s ease-in-out;

    left: 650px;
}
.h-1{
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    top: 670px;
    left: 590px;
    font-size: 50px;
   

}
    
   }

   .lobe{
    position: absolute;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-weight: bold;
    font-size: 25px;
    
   }
   .Lobe-Tour{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin-top: 180px;
    
   }

   .text-1{
    font-size: 70px;
    color: #000000;
    font-weight: 700;
   }
   .text-2{
    font-size: 70px;
    color: #04ddb2;
    font-weight: 700;
   }

   .paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin-top: 40px;
    font-size: 25px;
   }
   

